@import "tailwindcss";

.heading-color {
    @apply bg-gradient-to-r from-[#6d67ff] to-[#f16186] bg-clip-text text-transparent;
}

.primary-btn {
    @apply !rounded-full !text-white !bg-[#6d67ff] !px-8 w-full
}

.chat-messages-container {
    overflow-y: auto;
    height: calc(100vh - 140px);
}

.chat-messages-container::-webkit-scrollbar {
    display: none;
}

.home-container {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.home-container::-webkit-scrollbar {
    display: none;
}